body{
background-color: black;
color: aliceblue;

}
h1 {
         color: aqua;
         font-weight: bolder;
         text-decoration: underline;
      }
      button{
         background-color: blueviolet;
         color: blanchedalmond
         padding 10px;
         border-radius: 20px;
         
      }
      